<toast></toast>
<div class="container-fluid" ng-controller="RecipesCtrl">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-xs-10 col-sm-5 col-sm-offset-3">
				<form ng-submit="" name="newRecipeForm">
					<div class="form-group">
						<input type="text" class="form-control no-radius input-lg" placeholder="Search or Add Recipe" ng-model="recipename">
					</div>
				</form>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="row">
				    <button type="button" class="btn btn-default btn-lg" ng-click="recipe()">
						<i class="fa fa-list-ul"></i>
				    </button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div ng-repeat="r in recipes" class="col-sm-3">
			<div class="panel panel-default no-radius panel-box-shadow">
				<div class="panel-body">
					<div>
						<div><a ng-click="viewRecipe(r)" class="hand">{{r.name}}</a></div>
						<div style="display: inline-block;"><i class="fa fa fa-clock-o"></i> {{r.prep}} +</div>
						<div style="display: inline-block;"><span class="glyphicon glyphicon-fire"></span> {{r.cook}} =</div>
						<div style="display: inline-block;"><i class="fa fa fa-cutlery"></i> {{(r.prep*1)+(r.cook*1)}}</div>
						<div>
							<ul class="list-inline">
							  <li ng-repeat="day in [0,1,2,3,4,5,6]" ng-click="scheduleRecipe(r, day)" class="small-circle">{{ ['Su', 'M', 'T', 'W', 'Th', 'F', 'S'][day] }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>