<toast></toast>
<div class="container-fluid" ng-controller="RecipesCtrl">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-xs-10 col-sm-5 col-sm-offset-3">
				<form ng-submit="" name="newRecipeForm">
					<div class="form-group">
						<input type="text" class="form-control no-radius input-lg" placeholder="Search or Add Recipe" ng-model="recipename">
					</div>
				</form>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="row">
				    <button type="button" class="btn btn-default btn-lg" ng-click="addNewRecipe = !addNewRecipe">
						<i class="fa fa-list-ul"></i>
				    </button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="selectedRecipe == '' || addNewRecipe == true">
		<div class="col-sm-12 center-block">
		   	<div class="col-sm-5 col-sm-offset-3">
				<div class="panel panel-default panel-box-shadow no-radius">
					<div class="panel-body">
						<div class="row">
					      	<div class="form-group">
						      	<div class="image-upload">
						      		<p>Drag Recipe Image Here</p>
						      	</div>
						    </div>
						</div>
						<div class="row">
							<div class="col-sm-8">
						      	<div class="form-group">
						      		<label >Recipe Name</label>
						      		<p class="form-control-static">{{selectedRecipe.name}}</p>
						      	</div>
						    </div>
						    <div class="col-sm-2">
						    	<div class="form-group text-center">
						      		<label><i class="fa fa-clock-o"></i></label>
						      		<p class="form-control-static">{{selectedRecipe.prep}}</p>
						      	</div>
						    </div>
						    <div class="col-sm-2">
						    	<div class="form-group text-center">
						      		<label><i class="fa fa-fire"></i></label>
						      		<p class="form-control-static">{{selectedRecipe.cook}}</p>
						      	</div>
						    </div>
						</div>
						<div class="row">
							<div class="col-sm-12">
						      	<div class="form-group">
						      		<label >Description</label>
						      		<p class="form-control-static">{{selectedRecipe.description}}</p>
						      	</div>
						    </div>
				      	</div>
				      	<div class="divider">Ingredients</div>
				      	<div class="row" ng-repeat="item in selectedRecipe.ingredients">
				      		<div class="col-sm-5">
				      			<div class="form-group">
				      				<p class="form-control-static">{{item.name}}</p>
				      			</div>
				      		</div>
				      		<div class="col-sm-2">
				      			<div class="form-group">
				      				<p class="form-control-static">{{item.directions}}</p>
				      			</div>
				      		</div>
				      		<div class="col-sm-2">
				      			<div class="form-group">
					      			<p class="form-control-static">{{item.quantity}}</p>
					      		</div>
				      		</div>
				      		<div class="col-sm-3">
				      			<div class="form-group">
				      				<p class="form-control-static">{{item.uom.name}}</p>
					      		</div>
				      		</div>
				      	</div>
				      	<div class="divider">Steps</div>
				      	<div class="row" ng-repeat="(index, key) in selectedRecipe.steps">
				      		<div class="col-sm-1">
				      			<div class="form-group">
				      				<p class="form-control-static">{{index + 1}}</p>
				      			</div>
				      		</div>
				      		<div class="col-sm-11">
				      			<div class="form-group">
					      			<p class="form-control-static">{{key.detail}}</p>
					      		</div>
				      		</div>
				      	</div>
					</div>
					<div class="panel-footer">
				      	<button class="btn btn-danger" ng-click="selectedRecipe = ''" type="button">Close</button>
				      	<button class="btn btn-success" ng-click="editRecipe()">Edit</button>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 center-block">
		   	<div class="col-sm-5 col-sm-offset-3" ng-show="addNewRecipe">
				<div class="panel panel-default panel-box-shadow no-radius">
					<form ng-submit="addRecipe()">
					    <!-- <div class="panel-heading">
					        Add New Recipe
					    </div> -->
					    <div class="panel-body">
					     	<!-- <div class="row"> -->
						      	<div class="form-group">
						      		<a id="recipeImage" onclick="document.getElementById('recipeImage').click()">
								      	<div class="image-upload">
									      	<p>Drag Recipe Image Here</p>
								      	</div>
							      	</a>
							      	<!-- <input type="file" class="" id="recipeImage"> -->
							    </div>
							<!-- </div> -->
							<div class="row">
								<div class="col-sm-8">
							      	<div class="form-group">
							      		<label >Recipe Name</label>
							      		<input type="text" class="form-control no-radius" placeholder="Recipe Name" ng-model="newRecipe.name">
							      	</div>
							    </div>
							    <div class="col-sm-2">
							    	<div class="form-group text-center">
							      		<label>Prep <i class="fa fa-clock-o"></i></label>
							      		<input type="text" class="form-control no-radius" placeholder="Time" ng-model="newRecipe.prep">
							      	</div>
							    </div>
							    <div class="col-sm-2">
							    	<div class="form-group text-center">
							      		<label>Cook <i class="fa fa-clock-o"></i></label>
							      		<input type="text" class="form-control no-radius" placeholder="Time" ng-model="newRecipe.cook">
							      	</div>
							    </div>
							</div>
							<div class="row">
								<div class="col-sm-12">
							      	<div class="form-group">
							      		<label >Description</label>
							      		<input type="text" class="form-control no-radius" placeholder="Brief Description" ng-model="newRecipe.description">
							      	</div>
							    </div>
					      	</div>
					      	<div class="divider">Ingredients</div>
					      	<div class="row" ng-repeat="item in newIngredients">
					      		<div class="col-sm-5">
					      			<div class="form-group">
					      				<input type="text" class="form-control no-radius" placeholder="Item name" ng-model="item.name" typeahead="i as i.name for i in items | filter:$viewValue | limitTo:5" typeahead-on-select="updateIngredient($item)" typeahead-focus-first="false">
					      			</div>
					      		</div>
					      		<div class="col-sm-2">
					      			<div class="form-group">
						      			<input type="text" class="form-control no-radius" placeholder="Directions" ng-model="item.directions">
						      		</div>
					      		</div>
					      		<div class="col-sm-2">
					      			<div class="form-group">
						      			<input type="text" class="form-control no-radius" placeholder="Unit" ng-model="item.quantity">
						      		</div>
					      		</div>
					      		<div class="col-sm-3">
					      			<div class="form-group">
						      			<div class="input-group">
						      				<select ng-options="unit.name for unit in units track by unit.$id" class="form-control no-radius" ng-model="item.uom"></select>
							      			<span class="input-group-addon" style="border: 0; background-color: #fff;"><a><i class="fa fa-minus-circle" ng-click="btnRemoveIngredient(item)"></i></a></span>
							      		</div>
						      		</div>
					      		</div>
					      	</div>
					      	<div class="row">
				      			<div class="col-sm-5">
				      				<div class="form-group">
				      					<input type="text" class="form-control no-radius" placeholder="Item name" ng-model="ingredient" typeahead="i as i.name for i in items | filter:$viewValue | limitTo:5" typeahead-on-select="" typeahead-focus-first="false">
				      				</div>
				      			</div>
				      			<div class="col-sm-2">
					      			<div class="form-group">
						      			<input type="text" class="form-control no-radius" placeholder="Directions" ng-model="ingredientItem.directions">
						      		</div>
				      			</div>
				      			<div class="col-sm-2">
					      			<div class="form-group">
						      			<input type="text" class="form-control no-radius" placeholder="Unit" ng-model="ingredientItem.quantity">
						      		</div>
				      			</div>
				      			<div class="col-sm-3">
				      				<div class="form-group">
						      			<div class="input-group">
						      				<select ng-options="unit.name for unit in units track by unit.$id" class="form-control no-radius" ng-model="ingredientItem.uom"></select>
							      			<span class="input-group-addon input-group-side-button"><a><i class="fa fa-plus-circle" ng-click="btnAddIngredient()"></i></a></span>
							      		</div>
						      		</div>	
				      			</div>
					      	</div>
					      	<div class="divider">Directions</div>
					      	<div class="row" ng-repeat="step in newSteps">
				      			<div class="col-sm-12">
				      				<div class="form-group">
				      					<div class="input-group">
				      						<span class="input-group-addon no-radius">{{$index + 1}}</span>
						      				<input type="text" class="form-control no-radius" placeholder="Details" ng-model='step.detail'>
						      				<span class="input-group-addon input-group-side-button"><a><i class="fa fa-minus-circle" ng-click="btnRemoveStep(step)"></i></a></span>
						      			</div>
						      		</div>
				      			</div>
				      		</div>
				      		<div class="row">
				      			<div class="col-sm-12">
				      				<div class="form-group">
				      					<div class="input-group">
				      						<span class="input-group-addon no-radius">{{newSteps.length + 1}}</span>
						      				<input type="text" class="form-control no-radius" placeholder="Details" ng-model="step">
						      				<span class="input-group-addon input-group-side-button"><a><i class="fa fa-plus-circle" ng-click="btnAddStep()"></i></a></span>
						      			</div>
						      		</div>
				      			</div>
				      		</div>
					    </div>
					    <div class="panel-footer">
					      	<button class="btn btn-danger" ng-click="closeAdd()" type="button">Cancel</button>
					     	<button class="btn btn-success" type="submit">Save</button>
					    </div>
					</form>
			    </div>
		   	</div>
	   	</div>
	</div>
	<div class="col-sm-12">
		<div ng-repeat="r in recipes" class="col-sm-3">
			<div class="panel panel-default no-radius panel-box-shadow">
				<div class="panel-body">
					<div>
						<div><a ng-click="viewRecipe(r)" class="hand">{{r.name}}</a></div>
						<div style="display: inline-block;"><i class="fa fa fa-clock-o"></i> {{r.prep}} +</div>
						<div style="display: inline-block;"><span class="glyphicon glyphicon-fire"></span> {{r.cook}} =</div>
						<div style="display: inline-block;"><i class="fa fa fa-cutlery"></i> {{(r.prep*1)+(r.cook*1)}}</div>
						<div>
							<ul class="list-inline">
							  <li ng-repeat="day in [0,1,2,3,4,5,6]" ng-click="scheduleRecipe(r, day)" class="small-circle">{{ ['Su', 'M', 'T', 'W', 'Th', 'F', 'S'][day] }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>