<div class="container-fluid" ng-controller="RecipesCtrl">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-xs-10 col-sm-5 col-md-offset-3">
				<form ng-submit="" name="newRecipeForm">
					<div class="form-group">
						<input type="text" class="form-control no-radius input-lg" placeholder="Search or Add Recipe" ng-model="recipename">
					</div>
				</form>
			</div>
			<div class="col-xs-1 col-sm-1">
				<div class="row">
				    <button type="button" class="btn btn-default btn-lg" ng-click="addNewRecipe = !addNewRecipe">
						<i class="fa fa-list-ul"></i>
				    </button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="1 == 1">
		<div class="col-sm-12 center-block">
		   	<div class="col-sm-3 col-sm-offset-3">
				<div class="panel panel-default panel-box-shadow no-radius">
					<div class="panel-body">
						<div class="row">
					      	<div class="form-group">
						      	<div class="image-upload">
						      		<p>Drag Recipe Image Here</p>
						      	</div>
						    </div>
						</div>
						<div class="row">
							<div class="col-sm-8">
						      	<div class="form-group">
						      		<label >Recipe Name</label>
						      		<p class="form-control-static">{{selectedRecipe.name}}</p>
						      	</div>
						    </div>
						    <div class="col-sm-2">
						    	<div class="form-group text-center">
						      		<label>Prep <i class="fa fa-clock-o"></i></label>
						      		<p class="form-control-static">{{selectedRecipe.prep}}</p>
						      	</div>
						    </div>
						    <div class="col-sm-2">
						    	<div class="form-group text-center">
						      		<label>Cook <i class="fa fa-fire"></i></label>
						      		<p class="form-control-static">{{selectedRecipe.cook}}</p>
						      	</div>
						    </div>
						</div>
						<div class="row">
							<div class="col-sm-12">
						      	<div class="form-group">
						      		<label >Description</label>
						      		<p class="form-control-static">{{selectedRecipe.description}}</p>
						      	</div>
						    </div>
				      	</div>
				      	<div class="divider">Ingredients</div>
				      	<div class="row" ng-repeat="item in selectedRecipe.ingredients">
				      		<div class="col-sm-6">
				      			<div class="form-group">
				      				<p class="form-control-static">{{item.name}}</p>
				      			</div>
				      		</div>
				      		<div class="col-sm-2">
				      			<div class="form-group">
					      			<p class="form-control-static">{{item.quantity}}</p>
					      		</div>
				      		</div>
				      		<div class="col-sm-4">
				      			<div class="form-group">
				      				<p class="form-control-static">{{item.uom}}</p>
					      		</div>
				      		</div>
				      	</div>
					</div>
					<div class="panel-footer">
				      	<button class="btn btn-danger" ng-click="selectedRecipe = ''">Close</button>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 center-block">
		   	<div class="col-sm-4 col-sm-offset-3" ng-show="addNewRecipe">
				<div class="panel panel-default panel-box-shadow no-radius">
					<form ng-submit="addRecipe()">
					    <!-- <div class="panel-heading">
					        Add New Recipe
					    </div> -->
					    <div class="panel-body">
					     	<div class="row">
						      	<div class="form-group">
							      	<div class="image-upload">
							      		<p>Drag Recipe Image Here</p>
							      	</div>
							    </div>
							</div>
							<div class="row">
								<div class="col-sm-8">
							      	<div class="form-group">
							      		<label >Recipe Name</label>
							      		<input type="text" class="form-control no-radius" placeholder="Recipe Name" ng-model="newRecipe.name">
							      	</div>
							    </div>
							    <div class="col-sm-2">
							    	<div class="form-group text-center">
							      		<label>Prep <i class="fa fa-clock-o"></i></label>
							      		<input type="text" class="form-control no-radius" placeholder="Time" ng-model="newRecipe.prep">
							      	</div>
							    </div>
							    <div class="col-sm-2">
							    	<div class="form-group text-center">
							      		<label>Cook <i class="fa fa-clock-o"></i></label>
							      		<input type="text" class="form-control no-radius" placeholder="Time" ng-model="newRecipe.cook">
							      	</div>
							    </div>
							</div>
							<div class="row">
								<div class="col-sm-12">
							      	<div class="form-group">
							      		<label >Description</label>
							      		<input type="text" class="form-control no-radius" placeholder="Brief Description" ng-model="newRecipe.description">
							      	</div>
							    </div>
					      	</div>
					      	<div class="divider">Ingredients</div>
					      	<div class="row" ng-repeat="item in newIngredients">
					      		<div class="col-sm-6">
					      			<div class="form-group">
					      				<input type="text" class="form-control no-radius" placeholder="Item name" ng-model="item.name" typeahead="i as i.name for i in items | filter:$viewValue | limitTo:5" typeahead-on-select="updateIngredient($item)" typeahead-focus-first="false">
					      			</div>
					      		</div>
					      		<div class="col-sm-2">
					      			<div class="form-group">
						      			<input type="text" class="form-control no-radius" placeholder="Unit" ng-model="item.quantity">
						      		</div>
					      		</div>
					      		<div class="col-sm-4">
					      			<div class="form-group">
						      			<div class="input-group">
							      			<select class="form-control no-radius" ng-model="item.uom">
							      				<option value="pieces">Pieces</option>
							      				<option value="teaspoon">Teaspoon</option>
							      				<option value="tablespoon">Tablespoon</option>
							      				<option value="ounce">Ounce</option>
							      			</select>
							      			<span class="input-group-addon" style="border: 0; background-color: #fff;"><a><i class="fa fa-minus-circle"></i></a></span>
							      		</div>
						      		</div>
					      		</div>
					      	</div>
					      	<div class="row">
				      			<div class="col-sm-6">
				      				<div class="form-group">
				      					<input type="text" class="form-control no-radius" placeholder="Item name" ng-model="ingredient.item" typeahead="i as i.	name for i in items | filter:$viewValue | limitTo:5" typeahead-on-select="addItem($item)" typeahead-focus-first="false">
				      				</div>
				      			</div>
				      			<div class="col-sm-2">
					      			<div class="form-group">
						      			<input type="text" class="form-control no-radius" placeholder="Unit" ng-model="ingredient.quantity">
						      		</div>
				      			</div>
				      			<div class="col-sm-4">
				      				<div class="form-group">
						      			<div class="input-group">
							      			<select class="form-control no-radius" ng-model="ingredient.uom">
							      				<option value="pieces">Pieces</option>
							      				<option value="teaspoon">Teaspoon</option>
							      				<option value="tablespoon">Tablespoon</option>
							      				<option value="ounce">Ounce</option>
							      			</select>
							      			<span class="input-group-addon input-group-side-button"><a><i class="fa fa-plus-circle" ng-click="addIngredient()"></i></a></span>
							      		</div>
						      		</div>	
				      			</div>
					      	</div>
					      	<div class="divider">Directions</div>
					      	<div class="row" ng-repeat="step in newSteps">
				      			<div class="col-sm-12">
				      				<div class="form-group">
				      					<div class="input-group">
				      						<span class="input-group-addon no-radius">{{$index + 1}}</span>
						      				<input type="text" class="form-control no-radius" placeholder="Details" ng-model='step.detail'>
						      				<span class="input-group-addon input-group-side-button"><a><i class="fa fa-minus-circle"></i></a></span>
						      			</div>
						      		</div>
				      			</div>
				      		</div>
				      		<div class="row">
				      			<div class="col-sm-12">
				      				<div class="form-group">
				      					<div class="input-group">
				      						<span class="input-group-addon no-radius">{{newSteps.length + 1}}</span>
						      				<input type="text" class="form-control no-radius" placeholder="Details" ng-model="step">
						      				<span class="input-group-addon input-group-side-button"><a><i class="fa fa-plus-circle" ng-click="addStep()"></i></a></span>
						      			</div>
						      		</div>
				      			</div>
				      		</div>
					    </div>
					    <div class="panel-footer">
					      	<button class="btn btn-danger" ng-click="closeAdd()">Cancel</button>
					     	<button class="btn btn-success" type="submit">Save</button>
					    </div>
					</form>
			    </div>
		   	</div>
	   	</div>
	</div>
	<div class="col-sm-12">
		<div ng-repeat="r in recipes" ng-class="{'col-sm-2': selectedRecipe.$id != r.$id, 'col-sm-3': selectedRecipe.$id == r.$id}">
			<div class="panel panel-default no-radius panel-box-shadow">
				<div class="panel-body">
					<div ng-hide="selectedRecipe.$id == r.$id">
						<div><a ng-click="viewRecipe(r.$id)" class="hand">{{r.name}}</a></div>
						<div style="display: inline-block;"><i class="fa fa fa-clock-o"></i> {{r.prep}} +</div>
						<div style="display: inline-block;"><span class="glyphicon glyphicon-fire"></span> {{r.cook}} =</div>
						<div style="display: inline-block;"><i class="fa fa fa-cutlery"></i> {{(r.prep*1)+(r.cook*1)}}</div>
					</div>
					<div ng-show="selectedRecipe.$id == r.$id">
						<div class="row">
					      	<div class="form-group">
						      	<div class="image-upload">
						      		<p>Drag Recipe Image Here</p>
						      	</div>
						    </div>
						</div>
						<div class="row">
							<div class="col-sm-8">
						      	<div class="form-group">
						      		<label >Recipe Name</label>
						      		<p class="form-control-static">{{selectedRecipe.name}}</p>
						      	</div>
						    </div>
						    <div class="col-sm-2">
						    	<div class="form-group text-center">
						      		<label>Prep <i class="fa fa-clock-o"></i></label>
						      		<p class="form-control-static">{{selectedRecipe.prep}}</p>
						      	</div>
						    </div>
						    <div class="col-sm-2">
						    	<div class="form-group text-center">
						      		<label>Cook <i class="fa fa-fire"></i></label>
						      		<p class="form-control-static">{{selectedRecipe.cook}}</p>
						      	</div>
						    </div>
						</div>
						<div class="row">
							<div class="col-sm-12">
						      	<div class="form-group">
						      		<label >Description</label>
						      		<p class="form-control-static">{{selectedRecipe.description}}</p>
						      	</div>
						    </div>
				      	</div>
				      	<div class="divider">Ingredients</div>
				      	<div class="row" ng-repeat="item in selectedRecipe.ingredients">
				      		<div class="col-sm-6">
				      			<div class="form-group">
				      				<p class="form-control-static">{{item.name}}</p>
				      			</div>
				      		</div>
				      		<div class="col-sm-2">
				      			<div class="form-group">
					      			<p class="form-control-static">{{item.quantity}}</p>
					      		</div>
				      		</div>
				      		<div class="col-sm-4">
				      			<div class="form-group">
				      				<p class="form-control-static">{{item.uom}}</p>
					      		</div>
				      		</div>
				      	</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-sm-3">
			<div class="panel panel-default panel-box-shadow no-radius">
				<div class="panel-body">
					
				</div>
				<div class="panel-footer">
			      	<button class="btn btn-danger" ng-click="selectedRecipe = ''">Close</button>
			    </div>
			</div>
		</div> -->
	</div>
	<!-- <div class="col-sm-12">
		<div class="col-sm-3" ng-repeat="r in recipes">
			<div class="panel panel-default no-radius">
		      <div class="panel-heading" style="padding: 0px;">
		        <div style="position: relative">
		          <img src="assets/images/chickendish.jpg" class="img-responsive">
		          <div style="position: absolute; bottom: 10px;">
		          <a href="http://allrecipes.com/Recipe/Quick-And-Easy-Mexican-Chicken/Detail.aspx?soid=carousel_0_rotd&prop24=rotd"><span style="z-index: 99;color: #fff; font-size: 1.25em; font-weight: bold; position: relative; top: 70%; padding: 10px;">{{r.name}}</span></a>
		          </div>
		        </div>
		      </div>
		      <div class="panel-body" style="height: 125px;">
		        <div>{{r.description}}</div>
		      </div>
		      <div class="panel-footer clearfix text-center">
		        <button class="btn btn-primary btn-xs">Su</button>
		        <button class="btn btn-info btn-xs">M</button>
		        <button class="btn btn-primary btn-xs">T</button>
		        <button class="btn btn-primary btn-xs">W</button>
		        <button class="btn btn-primary btn-xs">Th</button>
		        <button class="btn btn-primary btn-xs">F</button>
		        <button class="btn btn-primary btn-xs">S</button>
		      </div>
		    </div>
	   	</div>
	</div> -->
</div>