<div class="container" ng-controller="CalendarCtrl">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="panel panel-default panel-box-shadow" ng-repeat="day in days" ng-class="{'current-day': checkDay(day.$id)}">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-2">
									<div class="circle" ng-class="{'green': checkDay(day.$id)}">
										{{day.abbrev}}
									</div>
								</div>
								<div ng-show="recipes[recipes.$indexFor(day.recipe)].name">
									<div class="col-sm-8">
										<p>{{recipes[recipes.$indexFor(day.recipe)].name}}</p>
										
										<!-- <p><small>{{recipes[recipes.$indexFor(day.recipe)].description}}</small></p> -->
										<div style="display: inline-block;"><i class="fa fa fa-clock-o"></i> {{recipes[recipes.$indexFor(day.recipe)].prep}} +</div>
										<div style="display: inline-block;"><span class="glyphicon glyphicon-fire"></span> {{recipes[recipes.$indexFor(day.recipe)].cook}} =</div>
										<div style="display: inline-block;"><i class="fa fa fa-cutlery"></i> {{(recipes[recipes.$indexFor(day.recipe)].prep*1)+(recipes[recipes.$indexFor(day.recipe)].cook*1)}}</div>
									</div>
									<div class="col-sm-2 text-right">
										<i class="fa fa-check fa-2x fa-fw" style="color: #ADADAD" ng-click="completeClick(day)"></i>
									</div>
								</div>
								<div ng-hide="recipes[recipes.$indexFor(day.recipe)].name">
									<div class="col-sm-8">
										<h4>No Recipe Selected</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>