/* app css stylesheet */

body { padding-top: 70px; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.drag {
  color: #FFFFFF;
  padding: 4px;
  border: 1px solid #B8B8B8;
  background-color: #D0D0D0;
  /* Rotate div */
 /*   -ms-transform: rotate(3deg); *//* IE 9 */
    /*-webkit-transform: rotate(3deg);*/ /* Chrome, Safari, Opera */
    /*transform: rotate(3deg);*/
}

.over {
  /*border-color: red;*/
  box-shadow: 2px 2px 2px #888888;
  
}

.over > .panel-heading {
    background-color: #C5D5BE;
    border-color: #C5D5BE;
}

.over > .panel-body {
    background-color: #F0F0F0 ;
}

.hand {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.panel {
   border-radius: 0px;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.no-radius {
  border-radius: 0px;
}