/* app css stylesheet */

html {
  position: relative;
  min-height: 100%;
}

body { 
  padding-top: 51px;
  /*margin-bottom: 125px; */
  background: -webkit-linear-gradient(281deg,#0c63aa,#7ac5fa);
  background: linear-gradient(169deg,#0c63aa,#7ac5fa);
  background-color: #0c63aa;
}

.appSettings {
  padding-top: 51px;
  background: #ffffff;
  background-color: #ffffff;
}

.content-block {
    /*margin-top: -71px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 60px;
    padding-bottom: 60px;*/
}

.content-block .blue {
  /*background: -webkit-linear-gradient(281deg,#0c63aa,#7ac5fa);
  background: linear-gradient(169deg,#0c63aa,#7ac5fa);
  background-color: #0c63aa;*/
}

.footer {
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 105px;
  background-color: #f5f5f5;
}

/* playing */

.animate-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}


.animate-hide.ng-hide {
  line-height: 0;
  font-size: 0px;
  opacity: 0;
  padding: 0 10px;
}

@-webkit-keyframes slideopen {
  from {
    height: 20px;
  }

  to {
    font-size: 100%;
    height: 50px;
  }
}

@-webkit-keyframes slidclose {
  from {
    height: 50px;
  }

  to {
    height: 20px;
  }
}

.divider {
  position: relative;
  height: auto;
  overflow: hidden;
  line-height: 1.5;
  /*text-align: center;*/
  /*font-size: 1rem;*/
  font-weight: 700;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: transparent;
}

/*.divider:before {
  margin-left: calc(-50% - 1em);
}*/

.divider:after {
  margin-left: 1em;
}
/*.divider:before,*/

.divider:after {
  position: absolute;
  content: '';
  z-index: 3;
  height: 0;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(255,255,255,.2);
  top: 50%;
}

.image-upload {
  height: 175px;
  border-style: dashed;
  border-width: thin;
  border-color: #909090;
  background-color: #E8E8E8;
}

.image-upload p {
  vertical-align: middle;
  display: table-cell;
}

.panel-box-shadow {
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

/* Toggle Styles */

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    padding-bottom: 100px;  /*not sure why I need this yet, maybe because of the search bar.*/
    /*overflow-y: auto;*/
    background: #f5f5f5;
    border-left: #ddd thin solid;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
    padding-top: 15px;
}

#page-content-wrapper div {
  /*max-width: 100%;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    /*position: absolute;*/
    /*top: 0;*/
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper > .sidebar-brand {
  padding: 15px;
}

#sidebar-wrapper > .menu-wrapper {
  overflow-y: auto;
  height: 100%;
}

.sidebar-nav div {
    text-indent: 20px;
    line-height: 40px;
    color: #999999;
}
/*
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
*/

@media(min-width:768px) {
    .modal-dialog {
      margin: 119px auto;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.dropdown-menu > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.drag {
  color: #FFFFFF;
  padding: 4px;
  border: 1px solid #B8B8B8;
  background-color: #D0D0D0;
  /* Rotate div */
 /*   -ms-transform: rotate(3deg); *//* IE 9 */
    /*-webkit-transform: rotate(3deg);*/ /* Chrome, Safari, Opera */
    /*transform: rotate(3deg);*/
}

/* Added so that a btn-link button that uses a Glyphicon will have 4px after the icon for the name */
.btn-link .glyphicon {
  margin: 4px;
}

.over {
  /*border-color: red;*/
  box-shadow: 2px 2px 2px #888888;
  
}

.over > .panel-heading {
    background-color: #C5D5BE;
    border-color: #C5D5BE;
}

.over > .panel-body {
    background-color: #F0F0F0 ;
}

.category_selected {
  font-weight: bold;
  color: red;
}

.itemAdded {
  border-color: green;
}

.hand {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.modal-content {
  border-radius: 0px;
}

.fader.ng-enter {
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -ms-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}

.fader.ng-leave {
  -webkit-animation: fadeOutUp 1s;
  -moz-animation: fadeOutUp 1s;
  -ms-animation: fadeOutUp 1s;
  animation: fadeOutUp 1s;
}

.fader.ng-leave-active {
  opacity: 0;
}

.done-true {
  /*text-decoration: line-through;*/
  color: #CCCCCC;
}

.panel {
   border-radius: 0px;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.no-radius {
  border-radius: 0px;
}

.dropdown-menu {
  border-radius: 0px
}

.input-group-side-button {
  border: 0;
  background-color: #fff;
}

.small-circle {
  border-radius: 50px;
  /*background: #000;*/
  background:linear-gradient(to bottom, #40b3ff, #09f);
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  font-size: 10px;
}

.circle {
  border-radius: 50px;
  /*background: #000;*/
  background:linear-gradient(to bottom, #40b3ff, #09f);
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
}

/* Calender Options */

.current-day {
  margin-right: -25px;
  margin-left: -25px;
  /*height: 100px;*/

}

.red {
  background:linear-gradient(to bottom, #FF3300, #CC2900);
}

.blue {
  background:linear-gradient(to bottom, #40b3ff, #09f);
}


.green {
  background:linear-gradient(to bottom, #65B965, #57A057);
}

.bounce{
  -webkit-animation: bouce 1s;
  -moz-animation: bounce 1s;
  -ms-animation: bounce 1s;
  animation: bounce 1s;
}

.bounce.ng-hide-remove {
  -webkit-animation: bouce 1s;
  -moz-animation: bounce 1s;
  -ms-animation: bounce 1s;
  animation: bounce 1s;
}

/*.slideInDown.ng-hide-add {
  -webkit-animation: slideInDown 1s;
  -moz-animation: slideInDown 1s;
  -ms-animation: slideInDown 1s;
  animation: slideInDown 1s;
}*/

.slideInDown.ng-hide-remove {
  -webkit-animation: flipInY 1s;
  -moz-animation: flipInY 1s;
  -ms-animation: flipInY 1s;
  animation: flipInY 1s;
}

.slideInDown2.ng-hide-add {
  -webkit-animation: slideInDown 1s;
  -moz-animation: slideInDown 1s;
  -ms-animation: slideInDown 1s;
  animation: slideInDown 1s;
}


.errorBounce {
 -webkit-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -ms-animation: bounceIn 1s;
  animation: bounceIn 1s; 
}

.text-white {
  color: #ffffff;
}