/* app css stylesheet */

body { padding-top: 70px; }

.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.dropdown-menu > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.drag {
  color: #FFFFFF;
  padding: 4px;
  border: 1px solid #B8B8B8;
  background-color: #D0D0D0;
  /* Rotate div */
 /*   -ms-transform: rotate(3deg); *//* IE 9 */
    /*-webkit-transform: rotate(3deg);*/ /* Chrome, Safari, Opera */
    /*transform: rotate(3deg);*/
}

.over {
  /*border-color: red;*/
  box-shadow: 2px 2px 2px #888888;
  
}

.over > .panel-heading {
    background-color: #C5D5BE;
    border-color: #C5D5BE;
}

.over > .panel-body {
    background-color: #F0F0F0 ;
}

.category_selected {
  font-weight: bold;
  color: red;
}

.itemAdded {
  border-color: green;
}

.hand {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.fader.ng-enter {
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -ms-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}

.fader.ng-leave {
  -webkit-animation: fadeOutUp 1s;
  -moz-animation: fadeOutUp 1s;
  -ms-animation: fadeOutUp 1s;
  animation: fadeOutUp 1s;
}

.fader.ng-leave-active {
  opacity: 0;
}

.done-true {
  /*text-decoration: line-through;*/
  color: #CCCCCC;
}

.panel {
   border-radius: 0px;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.no-radius {
  border-radius: 0px;
}

.dropdown-menu {
  border-radius: 0px
}