<toast></toast>
<div class="container" ng-controller="InventoryCtrl">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-xs-10 col-sm-5 col-sm-offset-3">
					<form ng-submit="addNewItem()" name="newItemForm">
						<div class="form-group">
							<input type="text" class="form-control no-radius input-lg" placeholder="Search or Add New Item" ng-model="itemname" name="item" >
						</div>
					</form>
				</div>
				<div class="col-xs-1 col-sm-1">
					<div class="row">
						<div class="btn-group" uib-dropdown is-open="status.isopen">
					      <button type="button" class="btn btn-default btn-lg dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
					        <i class="fa fa-list-ul"></i>
					      </button>
					      <ul class="dropdown-menu pull-right" role="menu">
					      	<li ng-class="{active: filterText == ''}"><a class="hand" ng-click="setFilter('');">All</a></li>
					      	<li ng-repeat="c in categories" ng-class="{active: filterText == c.$id}"><a class="hand" ng-click="setFilter(c.$id)">{{c.name}}</a></li>
					      </ul>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Item Name</th>
						<th class="text-center hidden-xs">Category</th>
						<th class="text-center">Stock</th>
						<th class="text-center">Minimum Stock</th>
						<th class="text-center hidden-xs">Options</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in items | filter: {name: itemname, category: filterText } | orderBy: 'name'" class="">
						<td>
							<span ng-click="editItem(i)" ng-hide="isItemEditing(i.$id)" class="hand">{{i.name}} <small ng-if="i.price > 0">Price: ${{i.price}}</small></span>
							<form ng-submit="saveItem(i)" ng-show="isItemEditing(i.$id)" class="form-inline">
								<input type="text" class="form-control" ng-model="itemEdit.name">
								<input type="text" class="form-control" placeholder="Price" ng-model="itemEdit.price">
								<button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
								<button class="btn btn-success">Save</button>
							</form>
						</td>
						<td class="text-center hidden-xs">
							<!-- Split button -->
						    <div class="btn-group btn-group-xs" uib-dropdown>
						      <button type="button" class="btn btn-default" uib-dropdown-toggle>{{categories[categories.$indexFor(i.category)].name}}</button>
						      <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
						        <span class="caret"></span>
						        <span class="sr-only">Split button!</span>
						      </button>
						      <ul class="dropdown-menu" role="menu">
						        <li ng-repeat="c in categories" ng-class="{active: c.$id == i.category}"><a class="hand" ng-click="changeCategory(i, c.$id)">{{c.name}}</a></li>
						      </ul>
						    </div>
						</td>
						<td class="text-center">
							<div class="btn-group btn-group-xs" role="group">
								<button type="button" class="btn btn-default" ng-click="removeStock(i)"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-default" ng-class="{'btn-danger': i.stock < i.minstock}">{{i.stock}}</button>
								<button type="button" class="btn btn-default" ng-click="addStock(i)"><i class="fa fa-plus"></i></button>
							</div>
						</td>
						<td class="text-center">
							<div class="btn-group btn-group-xs" role="group">
								<button type="button" class="btn btn-default" ng-click="removeMinStock(i)"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-default">{{i.minstock}}</button>
								<button type="button" class="btn btn-default" ng-click="addMinStock(i)"><i class="fa fa-plus"></i></button>
							</div>
						</td>
						<td class="text-center hidden-xs">
							<button type="button" class="btn btn-danger btn-xs" ng-click="deleteItem(i)"><i class="fa fa-trash"></i> Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>