<div class="col-sm-12" ng-controller="SettingGeneralCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			General Settings
		</div>
		<div class="panel-body">
			<!-- <div class="col-sm-4">
				<div class="form-group">
					<label class="">Default List Name</label>
					<select ng-options="list.$id for list in lists track by list.$id" class="form-control" ng-model="settings.defaultlist"></select>
				</div>
			</div> -->
			<div class="col-sm-4">
				<label>Unit of Measure</label>
				<p class="form-control-static">
	            	<label class="radio-inline">
	              	<input type="radio" name="uom" value="metric" ng-model="settings.uom"> Metric</label>
	            	<label class="radio-inline">
	              	<input type="radio" name="uom" value="standard" ng-model="settings.uom"> Standard</label>
	            </p>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-success" type="submit">Update</button>
			</div>
		</div>
	</div>
</div>