<div class="content-block">
	<div class="container" ng-controller="LoginCtrl">		
		<form novalidate name="login"  ng-submit="login.$valid && signInClick()" class="slideInDown" ng-hide="createGroup">
			
			<div class="well bounce" style="max-width: 330px; margin: 0 auto;">
				<div class="text-center">
					<h2><span>Meal</span><span class="text-primary">Time</span><small style="position:absolute; font-size: 12px;">beta</small></h2>
				</div>
				<div class="text-center">
					<p><b>Welcome Back!</b></p>
					<hr>
					<!-- <p>Enter your group name to acccess your lsit</p> -->
				</div>
				<div class="alert alert-danger bounce" ng-show="errorCaught">
					The group name or password you entered is incorrect.
				</div>
				<div class="form-group" ng-class="{'has-error': login.$submitted && !login.userEmail.$valid || errorCaught}">
					<label class="control-label">Group Name</label>
					<input type="text" class="form-control" name="userEmail" ng-model="user.email" required>
				</div>
				<div class="form-group" ng-class="{'has-error': login.$submitted && !login.userPassword.$valid || errorCaught}">
					<label class="control-label" style="width:100%"><span class="pull-left">Password</span> <a ng-click="forgotPassword()" class="pull-right">forgot password?</a></label>
					<input type="password" class="form-control" name="userPassword" ng-model="user.password" required>
				</div>
				<div>
					<button class="btn btn-link" type="button" ng-disabled="isProcessing" ng-click="createGroup = true">Create Group</button>
					<button class="btn btn-primary pull-right" ng-disabled="isProcessing">Login</button>
				</div>
				
			</div>
		</form>

		<form novalidate name="create"  ng-submit="create.$valid && createGroupClick()" class="slideInDown" ng-show="createGroup">
			<div class="well" style="max-width: 330px; margin: 0 auto;">
				<div class="text-center">
					<h2><span>Create</span><span class="text-primary">Group</span></h2>
				</div>
				<div class="text-center">
					<p><b>Start meal planning... </b></p>
					<hr>
				</div>
				<div class="alert alert-danger bounce" ng-show="createErrorCaught">
					The group name you tried to use is already taken, please try another.
				</div>
				<div class="form-group" ng-class="{'has-error': create.$submitted && !create.createGroupName.$valid || createErrorCaught}">
					<label class="control-label">Group Name</label>
					<input type="text" class="form-control" name="createGroupName" ng-model="create.email" required>
				</div>
				<div class="form-group" ng-class="{'has-error': create.$submitted && !create.createGroupEmail.$valid}">
					<label class="control-label">Email</label>
					<input type="email" name="createGroupEmail" ng-model="create.group" class="form-control" required>
				</div>
				<div class="form-group" ng-class="{'has-error': create.$submitted && !create.createGroupPassword.$valid}">
					<label class="control-label">Password</label>
					<input type="password" class="form-control" name="createGroupPassword" ng-model="create.password" required>
				</div>
				<div class="clearfix">
					<button class="btn btn-link" type="button" ng-click="createGroup = false" ng-disabled="isProcessing"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="margin: 4px;"></span>Back</button>
					<button class="btn btn-primary pull-right" ng-disabled="isProcessing">Create Group</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- <div class="content-block"> -->
	<!-- <div class="text-center"> -->
		<!-- Welcome to Mealtime, the only way to organize your weekly schedule and build a shopping list at the same time! -->
		<!-- <div> -->
			<!-- <h3><i class="fa fa-cutlery"></i> Mealtime</h3> -->
			<!-- <ul class="list-inline"> -->
				<!-- <li>Help &amp; Support</li> -->
				<!-- <li>Contact Us</li> -->
			<!-- </ul>
			<ul class="list-inline"> -->
				<!-- <li>Privacy Policy</li> -->
				<!-- <li>Terms of Service</li> -->
			<!-- </ul> -->
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <h5>Please enter your group name and an email will be sent to the email address associated with it.</h5>
        <div class="form-group">
        	<label class="sr-only">Group Name</label>
        	<input type="email" class="form-control">
       	</div>
       	<div class="clearfix">
       		<button class="btn btn-primary pull-right" type="button" ng-click="ok()">Reset Password</button>
       	</div>
    </div>
</script>