<div class="container-fluid" ng-controller="DashboardCtrl">
	<div class="col-sm-2 hidden-xs">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Add To List
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="sr-only">Item Name</label>
					<form ng-submit="addNewItem()">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Add Item" ng-model="itemname.name">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</span>
						</div>
					</form>
				</div>
				<ul class="list-unstyled">
					<li ng-repeat="i in items | filter:itemname" ng-click="addItem(i.$id)" class="hand animate-repeat">{{i.name}}</li>
				</ul>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Receipes
			</div>
			<div class="panel-body">
				<div ng-repeat="receipe in recipes">
					{{receipe.text}}
				</div>
			</div>
		</div>
		<div class="panel panel-danger">
			<div class="panel-heading">
				Dev Options
			</div>
			<div class="panel-body">
				<button ng-click="populate()" class="btn btn-success">Reset Data</button>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div ng-repeat="category in categories">  <!-- ng-init="item = items.$load(category.$id)" -->
			<div class="col-sm-3">
				<div class="panel panel-success" droppable drop="handleDrop" id="{{category.$id}}" bin="bin">
					<div class="panel-heading">
						{{category.name}}
						<!-- <div ng-repeat="l in list">
							<div ng-repeat="(key, val) in l.items ">
								{{items[items.$indexFor(key)].name}}
							</div>
						</div> -->
					</div>
					<div class="panel-body">
						<ul class="list-unstyled" id="List{{category.$id}}">
							<li ng-repeat="(key, val) in category.items" class="hand" draggable item="item" id="{{key}}" data-cat="{{category.id}}">
								{{items[items.$indexFor(key)].name}} <i class="fa fa-times-circle-o" ng-click="deleteItem(key)"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-success">
				<div class="panel-heading" ng-click="setAddCategoryState(true)">
					Add New
				</div>
				<div class="panel-body" ng-show="isAddCategory()">
					<div class="form-group">
						<label class="sr-only">Category Name</label>
						<form ng-submit="addCategory()">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Add New Category" ng-model="categoryname">
								<span class="input-group-btn">
									<button class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
								</span>
							</div>
						</form>
					</div>
					<div class="form-group">
						<a class="" ng-click="setAddCategoryState(false)">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					Weekly Planner
				</div>
				<div class="panel-body">
					<dl>
					  <dt>Monday</dt>
					  <dd><del>Sundried Tomatoe Linguini</de></dd>
					  <dt>Tuesday</dt>
					  <dd>Sundried Tomatoe Linguini</dd>
					  <dt>Wednesday</dt>
					  <dd>Sundried Tomatoe Linguini</dd>
					  <dt>Thursday</dt>
					  <dd>Sundried Tomatoe Linguini</dd>
					  <dt>Friday</dt>
					  <dd>Sundried Tomatoe Linguini</dd>
					  <dt>Saturday</dt>
					  <dd>Sundried Tomatoe Linguini</dd>
					  <dt>Sunday</dt>
					  <dd>Sundried Tomatoe Linguini</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Your Grocery List
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li ng-repeat="(id, val) in list[0].items" id="{{id}}" class="animate-repeat">
							{{items[items.$indexFor(id)].name}} ({{val.quantity}})
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>