<form novalidate name="addRecipe" ng-submit="addRecipe.$valid && add()">
	<div class="modal-body clearfix">
	    <div class="form-group">
      		<a id="recipeImage" onclick="document.getElementById('recipeImage').click()">
		      	<div class="image-upload">
			      	<p>Drag Recipe Image Here</p>
		      	</div>
	      	</a>
	    </div>
		<div class="row">
			<div class="col-sm-8">
		      	<div class="form-group" ng-class="{'has-error': addRecipe.$submitted && !addRecipe.recipeName.$valid}">
		      		<label >Recipe Name</label>
		      		<input type="text" class="form-control no-radius" name="recipeName" placeholder="Recipe Name" ng-model="recipe.name" required ng-hide="viewMode">
		      		<p class="form-control-static" ng-show="viewMode">
		      			{{recipe.name}}
		      		</p>
		      	</div>
		    </div>
		    <div class="col-sm-2">
		    	<div class="form-group text-center">
		      		<label>Prep <i class="fa fa-clock-o"></i></label>
		      		<input type="text" class="form-control no-radius" name="recipePrep" placeholder="Time" ng-model="recipe.prep" ng-hide="viewMode">
		      		<p class="form-control-static" ng-show="viewMode">
		      			{{recipe.prep}}
		      		</p>
		      	</div>
		    </div>
		    <div class="col-sm-2">
		    	<div class="form-group text-center">
		      		<label>Cook <i class="fa fa-clock-o"></i></label>
		      		<input type="text" class="form-control no-radius" name="recipeCook" placeholder="Time" ng-model="recipe.cook" ng-hide="viewMode">
		      		<p class="form-control-static" ng-show="viewMode">
		      			{{recipe.cook}}
		      		</p>
		      	</div>
		    </div>
		</div>
		<div class="row">
			<div class="col-sm-12">
		      	<div class="form-group">
		      		<label >Description</label>
		      		<input type="text" class="form-control no-radius" name="recipeDescription" placeholder="Brief Description" ng-model="recipe.description" ng-hide="viewMode">
		      		<p class="form-control-static" ng-show="viewMode">
		      			{{recipe.description}}
		      		</p>
		      	</div>
		    </div>
      	</div>
      	<div class="divider">Ingredients</div>
      	<div class="row" ng-repeat="item in newIngredients" ng-hide="viewMode">
      		<div class="col-sm-5">
      			<div class="form-group">
      				<input type="text" class="form-control no-radius" placeholder="Item name" ng-model="item.name" uib-typeahead="i as i.name for i in items | filter:$viewValue | limitTo:5" typeahead-on-select="updateIngredient($item)" typeahead-focus-first="false">
      			</div>
      		</div>
      		<div class="col-sm-3">
      			<div class="form-group">
	      			<input type="text" class="form-control no-radius" placeholder="Unit" ng-model="item.quantity">
	      		</div>
      		</div>
      		<div class="col-sm-4">
      			<div class="form-group">
	      			<div class="input-group">
	      				<select class="form-control no-radius" ng-model="item.uom">
	      					<option ng-repeat="u in units" value="{{u.$id}}">{{u.name}}</option>
	      				</select>
		      			<span class="input-group-addon" style="border: 0; background-color: #fff;"><a><i class="fa fa-minus-circle" ng-click="btnRemoveIngredient($index)"></i></a></span>
		      		</div>
	      		</div>
      		</div>
      	</div>
      	<div class="row" ng-repeat="item in newIngredients" ng-show="viewMode">
      		<div class="col-sm-6">
      			{{item.name}}
      		</div>
      		<div class="col-sm-6">
      			{{item.quantity}} {{units[units.$indexFor(item.uom)].name}}
      		</div>
      	</div>
      	<div class="row" ng-hide="viewMode">
  			<div class="col-sm-5">
  				<div class="form-group">
  					<input type="text" class="form-control no-radius" placeholder="Item name" ng-model="ingredient" uib-typeahead="i as i.name for i in items | filter:$viewValue | limitTo:5" typeahead-on-select="" typeahead-focus-first="false">
  				</div>
  			</div>
  			<div class="col-sm-3">
      			<div class="form-group">
	      			<input type="text" class="form-control no-radius" placeholder="Unit" ng-model="ingredientItem.quantity">
	      		</div>
  			</div>
  			<div class="col-sm-4">
  				<div class="form-group">
	      			<div class="input-group">
	      				<select class="form-control no-radius" ng-model="ingredientItem.uom">
	      					<option ng-repeat="u in units" value="{{u.$id}}">{{u.name}}</option>
	      				</select>
		      			<span class="input-group-addon input-group-side-button"><a><i class="fa fa-plus-circle" ng-click="btnAddIngredient()"></i></a></span>
		      		</div>
	      		</div>	
  			</div>
      	</div>
      	<div class="divider">Directions</div>
      	<div class="row" ng-repeat="step in newSteps" ng-hide="viewMode">
  			<div class="col-sm-12">
  				<div class="form-group">
  					<div class="input-group">
  						<span class="input-group-addon no-radius">{{$index + 1}}</span>
	      				<input type="text" class="form-control no-radius" placeholder="Details" ng-model='step.detail'>
	      				<span class="input-group-addon input-group-side-button"><a><i class="fa fa-minus-circle" ng-click="btnRemoveStep($index)"></i></a></span>
	      			</div>
	      		</div>
  			</div>
  		</div>
  		<div class="row" ng-hide="viewMode">
  			<div class="col-sm-12">
  				<div class="form-group">
  					<div class="input-group">
  						<span class="input-group-addon no-radius">{{newSteps.length + 1}}</span>
	      				<input type="text" class="form-control no-radius" placeholder="Details" ng-model="step">
	      				<span class="input-group-addon input-group-side-button"><a><i class="fa fa-plus-circle" ng-click="btnAddStep()"></i></a></span>
	      			</div>
	      		</div>
  			</div>
  		</div>

  		<!-- view only -->
  		<div class="row" ng-repeat="step in newSteps" ng-show="viewMode">
  			<div class="col-sm-2">
  				<p class="text-center">{{$index + 1}}</p>
  			</div>
  			<div class="col-sm-10">
  				<span>{{step.detail}}</span>
  			</div>
  		</div>

  		<div class="row">
  			<div class="col-sm-2">
  				<button type="button" class="btn btn-link" type="button" ng-click="cancel()">Close</button>
  			</div>
  			<div class="col-sm-10 text-right">	
				<button type="button" class="btn btn-danger" ng-show="viewMode" ng-click="delete(recipe)">Delete</button>
				<button type="button" class="btn btn-primary" ng-show="viewMode" ng-click="viewMode = false">Edit</button>
				<button class="btn btn-primary" ng-hide="viewMode">Save</button>
  			</div>
  		</div>
	</div>
</form>